<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title%></title>
</head>
<body>
	<main>
		<section class="w-full h-screen flex justify-center items-center">
			<div class="w-full h-auto text-center text-3xl font-sans">
				<h1><%=title%></h1>
				<p><%=message%></p>	
			</div>
		</section>
	</main>
</body>
</html>