<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <script src="https://cdn.tailwindcss.com"></script>
	<title>Error 404</title>
</head>
<body class="bg-no-repeat bg-fixed bg-cover" style="background-image: url('https://i.imgur.com/6bv85zs.jpg');">
	<main>
		<section class="flex flex-row ">
			<div class="text-center w-2/5 mt-28 h-3/5 bg-white rounded p-4  font-sans">
				<h1 class="text-3xl"><%=title%> </h1>
				<p class="text-center"><strong><%=error%></strong></p>
				<p><%=warning%></p>
				<div class="w-full mx-auto mt-6">
					<a class="text-center p-4 m-auto bg-yellow-400 hover:bg-yellow-700" href="<%=home%>">Inicio</a>
				</div>
			</div>
		</section>
	</main>
</body>
</html>
